<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <div class="add">
        <div nz-row>
            <div nz-col nzSpan="24"><b>用户管理 -&gt; 添加用户</b></div>
        </div>
    
        <div nz-row>
            <div nz-col nzSpan="2">用户名：</div>
            <div nz-col nzSpan="4">
                <nz-form-item class="custom-error-tip">
                    <nz-form-control nzErrorTip="请输入用户名!">
                        <input nz-input formControlName="name" placeholder="用户名" />
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col nzSpan="18"></div>
        </div>
        <div nz-row>
            <div nz-col nzSpan="2">注册日期：</div>
            <div nz-col nzSpan="4">
                <nz-form-item>
                    <nz-form-control nzErrorTip="请选择注册日期!">
                      <nz-date-picker formControlName="registrationDate" placeholder="注册日期"></nz-date-picker>
                    </nz-form-control>
                  </nz-form-item>
            </div>
            <div nz-col nzSpan="18"></div>
        </div>
        <div nz-row>
            <div nz-col nzSpan="2">个性签名：</div>
            <div nz-col nzSpan="4">
                <nz-form-item>
                    <nz-form-control nzErrorTip="请输入个性签名!">
                      <textarea nz-input formControlName="signature" placeholder="个性签名"></textarea>
                    </nz-form-control>
                  </nz-form-item>
            </div>
            <div nz-col nzSpan="18"></div>
        </div>
        <div nz-row>
            <div nz-col nzSpan="2"></div>
            <div nz-col nzSpan="22">
                <!-- [disabled]="!validateForm.valid" -->
                <button nz-button nzType="primary" >提交</button>
            </div>
        </div>
        <div>
            <div nz-col nzSpan="24">
                <a routerLink="/admin/user-list">跳转到用户列表</a>
            </div>
        </div>
    </div>
</form>